# Veri Yapıları

Önceki bölümde, integer, string gibi temel veri türlerini gördük. Bunlar tekil verilerin alabileceği türleri ifade ediyor. Yani bu veri türleri, tek bir verinin hangi tipte olabileceğini gösterir. Gerçekte, neredeyse hiçbir zaman tek tek verilerle uğraşmayız. Verilerin bir araya gelerek oluşturduğu veri yapıları ile çalışırız. Bu veri yapıları, dizi, tablo küme hatta yığın şeklinde olabilir. Bu nedenle, birden fazla veriyi bir arada tutmak için kullanılan veri yapıları vardır. Bunları basitçe veri dizileri olarak isimlendirebiliriz. Veri dizilerini çok sayıda veriyi bir arada tutmak ve bunlarla istediğimiz işlemleri gerçekleştirmek için kullanabiliriz. Veri dizilerinin bir kısmı oluşturulduktan sonra değiştirilebilirken (mutable) bazı veri dizileri ise bir defa oluşturulduktan sonra değiştirilemez (immutable). Örneğin, liste, küme ve  sözlük veri yapıları değiştirilebilir veri dizileri iken tuple veri yapıları değiştirilemez türde verilerdir. 

Bir sınıftaki öğrencilerin notlarını aşağıdaki gibi farklı değişkenlere atayarak saklayabiliriz.

In [1]:
not_Eren = 100
not_Ilhan = 99
not_Ali = 98
not_Erman = 97
not_Mehmet = 96

Tahmin edeceğiniz gibi verilerle bu şekilde işlem yapmak çok zor. Veri sayısı arttıkça zorluk da artacaktır. Sözgelimi 1000 öğrencinin notunu saklamak ve incelemek için 1000 farklı değişken tanımlamak son derece güç olacaktır. Bunun yerine, tüm notları bir arada tutacak bir veri yapısına ihtiyacımız var. Bu veri yapılarının belirli bir biçimde olması da gerçekleştireceğimiz işlem ve analizleri kolaylaştıracaktır. Örneğin, notları aşağıdaki gibi farklı biçimlerde saklamayı deneyebiliriz.

In [2]:
notlar =(not_Eren, not_Ilhan, not_Ali, not_Erman, not_Mehmet)
isimler = {"Eren", "Ilhan", "Ali", "Erman", "Mehmet"}
notlar = [100, 99, 98, 97, 96]

veya

In [3]:
notlar = {"Eren": 100, "Ilhan": 99, "Ali": 98, "Erman":97, "Mehmet":96}

ya da

| İsim      |  Not    |
|:----------|--------:|
| Eren      | 100     |
| Ilhan     | 99      |
| Ali       | 98      |
| Erman     | 97      |
| Mehmet    | 96      |

Verileri bu şekilde gruplayarak her bir veriye değişken atamak yerine tüm verilerin bir arada olduğu veri yapısına bir değişken ismi atayabiliriz. Ayrıca, veriler üzerindeki işlemleri her birine ayrı ayrı değil topluca gerçekleştirebiliriz.

Her programlama dilinin kendine özgü veri yapıları vardır. Bu ve bundan sonraki bölümlerde Python’da kullanılan veri yapılarını tanıyacağız. Bunlardan ilki de list yani liste veri yapısıdır. 

## List (Liste) Veri Yapısı

Liste, isminden de anlaşılacağı üzere sıralı nesnelerden oluşan liste ya da dizilerdir. Listelerde yer alan veriler köşeli parantez [ ] içinde ve virgülle ayrılarak gösterilir. Listeler veriyi eklenme sırasına göre tutan ve içeriği sonradan değiştirilebilen veri yapılarıdır. Bir listeyi tanımladıktan sonra listenin bir veya daha fazla elemanını güncellemek mümkündür. 

Listenin elemanları önceki bölümde gördüğümüz veri tiplerinden herhangi birisi olabilir. Bir listenin elemanları farklı veri tipinde de olabilir. Hatta, bir listenin elemanları farklı listeler de olabilir.

In [4]:
liste1 = [41, 42, 43, 44, 45]
liste1

[41, 42, 43, 44, 45]

In [5]:
liste2 = ["abc", "def", "xyz", "ijk"]
liste2

['abc', 'def', 'xyz', 'ijk']

In [6]:
liste3 = [123, 456, "klm", "xyz"]
liste3

[123, 456, 'klm', 'xyz']

Bölüm başında verdiğimiz notlar örneğini bir liste içinde aşağıdaki şekillerde yazmak da mümkündür.

In [7]:
notlar1 = ["Eren",100, "Ilhan",99, "Ali",98, "Erman",97, "Mehmet",96]
notlar1

['Eren', 100, 'Ilhan', 99, 'Ali', 98, 'Erman', 97, 'Mehmet', 96]

In [8]:
notlar2 = [['Eren',100], 
          ['Ilhan',99],
          ['Ali',98],
          ['Erman',97],
          ['Mehmet',96]]

notlar2

[['Eren', 100], ['Ilhan', 99], ['Ali', 98], ['Erman', 97], ['Mehmet', 96]]

In [9]:
notlar3 = [["Eren", "Ilhan", "Ali", "Erman", "Mehmet"],
           [100, 99, 98, 97, 96]]

notlar3

[['Eren', 'Ilhan', 'Ali', 'Erman', 'Mehmet'], [100, 99, 98, 97, 96]]

Yukarıda verilen örneklerde, birinci liste tamsayı, ikinci liste metin, üçüncü liste ise hem tamsayı hem de metin tipi verilerden oluşmaktadır. Boş bir liste oluşturmak için içi boş köşeli parantezler kullanılır: liste = [] gibi. 

Liste içinde değişken ismi de kullanabiliriz.

In [10]:
notlar = [not_Eren, not_Ilhan, not_Ali, not_Erman, not_Mehmet]

In [11]:
notlar = ["Eren", not_Eren, "Ilhan", not_Ilhan, "Ali", not_Ali, 
          "Erman", not_Erman, "Mehmet", not_Mehmet]

Bir listenin veri tipi list olarak belirtilir. Bunu `type()` fonksiyonu ile görebiliriz.

In [12]:
liste = [12, 33, 45, 76, 35, 43, 18, 6, 7]
print(type(liste))
print(len(liste))

<class 'list'>
9

Peki, listede yer alan verilerin bir kısmına nasıl erişebiliriz. Bir listenin elemanları sıfırdan başlayacak şekilde numaralandırılmıştır. Bir verinin listedeki sıra numarasına verinin indeksi de denir. 

Dikkat edilmesi gereken bir nokta, Python’da sıra numaralarının sıfır ile başlamasıdır. Bir listenin ilk elemanı 0, ikinci elemanı 1, üçüncü elemanı 2 sıra sayısını alır. Python’da sıfırla başlayan sıralama düzeni konusunda dikkatli olunmalıdır. Bir listenin herhangi bir sıradaki elemanını görmek için liste yanında köşeli parantez içinde sıra numarası yazılır. Yukarıdaki liste3 listesini ele alalım.

In [13]:
liste3[0]

123

In [14]:
liste3[1]

456

In [15]:
liste3[2]

'klm'

In [16]:
liste3[3]

'xyz'

In [17]:
type(liste3[0])

int

In [18]:
type(liste3[2])

str

Bir listenin elemanlarına liste sonundan başlayarak da erişebiliriz. Listenin ilk elemanının sıra numarasının sıfır olduğunu söylemiştik. Liste elemanlarını sondan başa numaralandırmak içinse sondaki eleman -1, ondan bir önceki eleman -2, bir önceki -3 sıra numarası veririz.

In [19]:
liste = [4, 7, 9, 12, 15, 19]
liste[-1]

19

In [20]:
liste[-2]

15

In [21]:
liste[-3]

12

Şimdiye kadar sadece listedeki bir elemana erişmek için gerekli yazım şeklini gördük. Peki birden fazla elemana erişmek için ne yazmamız gerekir? Örneğin, listedeki 2 ve 5 sıra sayısına sahip elemanları çekmek için ne yazmamız gerekir? Ardışık sıra numaralarını belirtmek için iki nokta (`:`) işareti kullanılır. 

Ancak, listede : işaretini kullanarak birden fazla elemana erişirken bir noktaya çok dikkat edilmelidir. Örneğin yukarıdaki listeyi ele alalım. Listenin 2, 3, ve 4 sıra numarasına sahip elemanlarını görmek için ne yazmalıyız? İlk verinin sıra numarasının 0 olduğunu unutmayın. Bu durumda listedeki 2,3 ve 4 sıra numarasına sahip veriler 9, 12 ve 15 oluyor? Akla gelen ilk cevap liste[2:4] yazmaktır. Ancak aşağıda liste[2:4] yazdığımızda ne çıktığına bakalım.

In [22]:
liste = [4, 7, 9, 12, 15, 19]
liste[2:4]

[9, 12]

Bir listeden ardışık elemanları çekerken liste[a:b] yazdığımızda a sıra numarası ile başlayan ve b sıra numarası ile biten verilerin gelmesini bekleriz. Ancak, b sıra numarasındaki veri işleme dahil edilmez. Ondan bir önceki veri alınır. Yani, liste[2:4] yazdığımızda 2. ve 3. sıradaki elemanlar gelir ama 4. sıradaki eleman dahil edilmez. Bu nedenle istediğimiz en son sıranın bir fazlasını yazmamız gerekir. Örneğin, yukarıdaki listenin ilk 3 elemanını almak için hangi indeks numaralarını yazmak gerekir? İlk üç elemanın indeks numaraları 0, 1 ve 2’dir. İstediğimiz ilk elemanın indeks numarasını ve son elemanın indeks numarasının bir fazlasını yazmamız gerektiğini hatırlayalım.

In [23]:
liste[0:3]

[4, 7, 9]

(:) işaretinin soluna herhangi bir sayı yazılmazsa, burada sıfır olduğu varsayılır. Yani liste[:3] ile liste[0:3] aynı anlama gelmektedir.

In [24]:
liste[:3] == liste[0:3]

True

Benzer şekilde (:) işaretinin sağına herhangi bir sayı yazılmazsa, listenin sonuna kadar bütün veriler alınır. Örneğin, liste[3: ] yazıldığında, 3 sıra numarasına sahip veriden başlayarak liste sonuna kadar tüm veriler çekilir.

In [25]:
liste[3:]

[12, 15, 19]

Üçüncü olarak sayıların kaçar atlanarak seçileceğini gösteren bir sayı yazabiliriz. Örneğin, liste[a:b:k] yazdığımızda, a sıra numarasından başlayıp b-1 sıra numarasında biten ve k atlayarak giden bir seçim yapılmasını isteriz. Aşağıdaki örnekte, listede 3. sıra numarasında başlayıp 11. sıra numarasına kadar, ikişer atlayarak giden bir seçim yapıyoruz.

In [26]:
liste = [4, 7, 9, 12, 15, 19, 3, 6, 8, 12, 13, 11, 2, 5, 9]
liste[3:12:2]

[12, 19, 6, 12, 11]

Şimdi de daha önceki örneklerde gördüğümüz listelerden oluşmuş listeyi dikkate alalım. Listenin içindeki listelerin elemanlarına nasıl erişebiliriz?

In [27]:
notlar = [['Eren', 100],
          ['Ilhan', 99],
          ['Ali', 98],
          ['Erman', 97],
          ['Mehmet', 96]]

notlar[0]

['Eren', 100]

In [28]:
notlar[2]

['Ali', 98]

In [29]:
notlar[-1]

['Mehmet', 96]

Liste ismi ile endekslediğimizde beklenen şekilde liste içindeki listelere erişiyoruz. Peki, örneğin 2. sıradaki listenin ikinci elemanına erişmek istersek ne yapmamız gerekir? Dikkat ederseniz, notlar[1] şeklinde belirtilen verinin kendisi de bir listedir. O halde bu listenin içindeki bir elemana erişmek için yanına bir [ ] daha getirmek gerekir. Diyelim ki ana listenin 2. sırasındaki alt listedeki ismi ve notu görmek istiyoruz. İkinci sıradaki elemanın indeks değerinin 1 olduğunu hatırlayalım.

In [30]:
notlar[1][0]

'Ilhan'

In [31]:
notlar[1][1]

99

In [32]:
(isim, puan) = (notlar[1][0], notlar[1][1])
isim

'Ilhan'

In [33]:
puan

99

Yukarıda da bahsettiğimiz gibi bir listenin elemanları değiştirilebilir. Yani, herhangi bir sıradaki değeri farklı bir değerle değiştirebiliriz. String ya da bytes veri tipinde bunun mümkün olmadığını hatırlayalım. Bir listenin herhangi bir elemanını değiştirmek için basitçe liste adı ile birlikte köşeli parantez içinde ilgili sıra numarasını yazdıktan sonra eşittir işareti kullanarak buraya atamak istediğimiz değeri yazarız.

In [34]:
liste = [1, 2, 3, 4]
liste[3] = 10
liste

[1, 2, 3, 10]

In [35]:
liste[0] = "sayılar"
liste

['sayılar', 2, 3, 10]

Bir listedeki herhangi bir elemanın hangi sırada olduğunu yani indeks numarasını öğrenmek için `.index()` metodunu kullanabiliriz.

In [36]:
notlar = ['Eren', 100, 'Ilhan', 99, 
          'Ali', 98, 'Erman', 97, 
          'Mehmet', 96]
notlar.index('Ali')

4

In [37]:
notlar.index(98)

5

Belirli bir sıradaki elemanı listeden silmenin bir yöntemi de .pop() yöntemini kullanmaktır. Bu metod istenen elemanı listeden çıkarırken aynı zamanda elemanı farklı bir değişken adı ile kaydetmeye de izin verir.

In [38]:
liste = ['A', 'B', 'C', 'D', 'E']
print("liste: ", liste)
sil = liste.pop(3)
print("silinen değer: ", sil)
print("liste: ", liste)

liste:  ['A', 'B', 'C', 'D', 'E']
silinen değer:  D
liste:  ['A', 'B', 'C', 'E']

Bir listedeki herhangi bir elemanın sayısını görmek için `.count()` metodu kullanılabilir. Aşağıdaki örnekte, olçum_degerleri listesinde 3 adet 4 sayısının yer aldığı görülmektedir.

In [39]:
olcum = [1, 3, 6, 9, 3, 4, 4, 7, 8, 2, 4, 2, 1]
olcum.count(4)

3

Listede olmayan bir sıra numarasına atama yapmayı denerseniz aşağıdaki gibi bir hata mesajı alırsınız. 

```Python
liste[4] = 15

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: list assignment index out of range
```

Bu örnekte gördüğümüz gibi listenin olmayan sıradaki elemanına doğrudan atama yapmak mümkün değildir. Bir listeye yeni eleman atamak için `.append()` metodu kullanılabilir.

In [40]:
print("liste: ", liste)
liste.append (12)
print("liste: ", liste)
liste.append (15)
print("liste: ", liste)

liste:  ['A', 'B', 'C', 'E']
liste:  ['A', 'B', 'C', 'E', 12]
liste:  ['A', 'B', 'C', 'E', 12, 15]